* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Geneva, Verdana, sans-serif;
}

:root {
  --pagination-active-color: #fff;
  --pagination-active-bg: #1890ff;
  --pagination-color: #111;
  --font-size: 16px;
  --card-padding: 1rem;
}

body {
  width: 100vw;
  height: 100vh;
  background: rgb(31, 28, 54);
  background: linear-gradient(
    90deg,
    rgba(31, 28, 54, 1) 0%,
    rgba(24, 47, 74, 1) 100%,
    rgba(250, 250, 250, 1) 100%
  );
  padding: 10px;
  padding-top: 15px;
}

#root {
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}
